* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	font-size: 16px;
}
a {
	transition: all .4s ease;
}
.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

#header-wrap {
	width: 100%;
	background: #cf3e2f;
	height: 100px;
}

#header-wrap {
	color: #fff;
	.sep {
		padding-right: 30px;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 18px;
			width: 1px;
			background: #fff;
			top: 0;
			left: 15px;
		}
	}
	p {
		margin: 15px 0;
		span {
			color: #95b3ce;
			font-weight: 400;
		}
	}
	.phone {
		font-size: 20px;
		margin-top: 18px;
		font-weight: 800;
	}
	.more-info {
		display: inline-block;
	}
}
#main-header {
	display: table;
	width: 100%;
	vertical-align: top;
	.part {
		display: table-cell;
		vertical-align: top;
	}
	.logo-wrap {
		width: 310px;
		.main-logo {
			margin-top: 19px;
			display: inline-block;
		}
	}
	.more-info {
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #95b3ce;
			}
		}
	}
	.filials-wrap {
		text-align: right;
		padding-top: 18px;
		.filials {
			display: table;
			margin: 0 0 15px auto;
			.f-phone {
				display: table-cell;
				width: 50%;
				font-size: 20px;
				font-weight: 800;
				span {
					color: #95b3ce;
					font-weight: 400;
				}
			}
			.f-address {
				display: table-cell;
				width: 50%;
				text-align: left;
				a {
					color: #95b3ce;
					&:hover {
						color: #fff;
					}
				}
				.no-phone {
					padding-right: 30px;
					position: relative;
				}
			}
		}
	}
}

#navigation-wrap {
	background: #95b3ce;
	width: 100%;
	height: 60px;
	.main-nav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: table;
			width: 100%;
			text-align: center;
			height: 60px;
			li {
				display: table-cell;
				padding: 0 5px;
				vertical-align: middle;
				height: 60px;
				a {
					display: block;
					padding: 5px;
					color: #fff;
					text-decoration: none;
					&:hover {
						color: #cf3e2f;
					}
				}
			}
		}
	}
}

.filter-content {

}
